<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bek.lvlapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LVLApp"
        >
        <activity
            android:name="com.bek.lvlapp.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.LVLApp.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bek.lvlapp.LoginActivity"
            android:exported="true"
            android:parentActivityName="com.bek.lvlapp.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.bek.lvlapp.RegisterActivity"
            android:exported="true"
            android:parentActivityName="com.bek.lvlapp.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.bek.lvlapp.ui.skills.SkillsAddActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.skills.SkillActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.actions.ActionsAddActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.actions.ActionActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.bek.lvlapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LVLApp.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>